*all_data.txt
*.exe
*tempCodeRunnerFile.*
*uex.txt
*U_final.txt
*fw.cpp
*Transport.cpp
*.vscode/
*__pycache__
*python_Kuramoto/*/steps*
*PINN_Kuramoto/*steps*
*.png
*u_burgers.txt
*.pt
*experimental_results*
*experiments_216*
